<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/python_trader/css/main.css">
		</head>


  <body>
    <div id="bg">
      <div id="outer">

<!-- Header-->
	<div id="header">

	  <div id="logo">
	    <h1> <a href="#">Stock Forecasting</a> </h1>
	  </div>

<!-- NAV BAR -->
	  <div id="nav">
	    <ul>
	      <li class="first active">
		<a href="/projects">Projects</a>
	      </li>
              <li>
		<a href="/teaching">Teaching</a>
	      </li>
	      <li>
		<a href="/code">Code</a>
	      </li>
	      <li>
		<a href="/research">Research</a>
	      </li>
	      <li>
		<a href="/">Home</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>

	</div>
<!-- /header -->


	<div id="main">

<!-- Right hand side bar-->
	  <div id="sidebar1">
<table> <!-- id="t01">-->
  <tr><td height="10"><a href="/python_trader"              >Project Home</a> </td></tr>
  <tr><td height="10"><a href="/python_trader/cleaning"     >Data Cleaning</a> </td></tr>
  <tr><td height="10"><a href="/python_trader/features"     >Features</a></td></tr>
  <tr><td height="10"><a href="/python_trader/scaling"      >Scaling</a></td></tr>
  <tr><td height="10"><a href="/python_trader/training"     >Traning ML Algorithms</a></td></tr>
  <tr><td height="10"><a href="/python_trader/interpolation">Filling Close from Means</a></td></tr>
  <tr><td height="10"><a href="/python_trader/results"      >Results</a></td></tr>
</table>
<!--
	    <ul>

	      <li class="first active">
		<a href="#">Back to Top</a>
	      </li>
              <li>
		<a href="/teaching">Teaching</a>
	      </li>
	      <li>
		<a href="/code">Code</a>
	      </li>
	      <li>
		<a href="/research">Research</a>
	      </li>
	      <li>
		<a href="/">Home</a>
	      </li>
	    </ul>
-->
	  </div>
<!-- /side bar-->


<!-- Center Column -->
	  <div id="content">
	    <div id="box1">

              {{content}}

	    </div>
	    <br class="clear" />
	  </div>
<!-- /Center Column -->

  </body>
</html>
